<aside>
  <section class="card">
    <h2>Moon phase</h2>

    <app-moon-phase no="1" name="New moon" icon="new-moon" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="2" name="Waxing crescent" icon="waxing-crescent" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="3" name="First quarter" icon="first-quarter" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="4" name="Waxing gibbous" icon="waxing-gibbous" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="5" name="Full moon" icon="full-moon" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="6" name="Waning gibbous" icon="waning-gibbous" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="7" name="Last quarter" icon="last-quarter" [class.current]="false"></app-moon-phase>
    <app-moon-phase no="8" name="Waning crescent" icon="waning-crescent" [class.current]="true"></app-moon-phase>
  </section>
</aside>
