@import 'variables';

:host {
  .hours {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    app-hour {
      &:not(:last-child) {
        border-right: 2px solid $color-border;
      }
    }
  }
}
