<section>
  <h2>Today's forecast</h2>

  <div class="hours">
    <app-hour-item [hour]="6" icon="sunny" [temp]="25"></app-hour-item>
    <app-hour-item [hour]="9" icon="sunny" [temp]="28"></app-hour-item>
    <app-hour-item [hour]="12" icon="sunny" [temp]="33"></app-hour-item>
    <app-hour-item [hour]="15" icon="sunny" [temp]="34"></app-hour-item>
    <app-hour-item [hour]="18" icon="sunny" [temp]="32"></app-hour-item>
    <app-hour-item [hour]="21" icon="sunny" [temp]="30"></app-hour-item>
  </div>
</section>
