<aside>
  <h2>7-day forecast</h2>

  <section>
    <app-day-item day="Today" icon="sunny" conditions="Sunny" tempDay="36" tempNight="22"></app-day-item>
    <app-day-item day="Tue" icon="sunny" conditions="Sunny" tempDay="37" tempNight="22"></app-day-item>
    <app-day-item day="Wed" icon="sunny" conditions="Sunny" tempDay="34" tempNight="19"></app-day-item>
    <app-day-item day="Thu" icon="sunny" conditions="Cloudy" tempDay="32" tempNight="18"></app-day-item>
    <app-day-item day="Fri" icon="sunny" conditions="Cloudy" tempDay="28" tempNight="17"></app-day-item>
    <app-day-item day="Sat" icon="sunny" conditions="Rainy" tempDay="29" tempNight="18"></app-day-item>
    <app-day-item day="Sun" icon="sunny" conditions="Sunny" tempDay="33" tempNight="21"></app-day-item>
  </section>
</aside>
