<aside>
  <h2>7-day forecast</h2>

  <section>
    <app-day-item *ngFor="let day of [
                    'Today',
                    weather?.location?.localtime | day : 1,
                    weather?.location?.localtime | day : 2,
                    weather?.location?.localtime | day : 3,
                    weather?.location?.localtime | day : 4,
                    weather?.location?.localtime | day : 5,
                    weather?.location?.localtime | day : 6,
                  ]; let i = index"
                  [day]="day"
                  [conditions]="weather?.forecast?.forecastday?.at(i)?.day?.condition"
                  [temp]="weather?.forecast?.forecastday?.at(i)?.day?.avgtemp_c | temp : weather?.forecast?.forecastday?.at(i)?.day?.avgtemp_f"
                  [maxTemp]="weather?.forecast?.forecastday?.at(i)?.day?.maxtemp_c | temp : weather?.forecast?.forecastday?.at(i)?.day?.maxtemp_f"
                  [minTemp]="weather?.forecast?.forecastday?.at(i)?.day?.mintemp_c | temp : weather?.forecast?.forecastday?.at(i)?.day?.mintemp_f"
    ></app-day-item>
  </section>
</aside>
