@import 'variables';

:host {
  section {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 0 0.8rem;

    app-day-item {
      flex: 1;

      &:not(:last-child) {
        border-bottom: 2px solid $color-border;
      }
    }
  }
}
