@import 'mixins';
@import 'variables';

:host {
  display: flex;
  align-items: center;

  @include svgSize(3.5rem, 'svg-icon');

  .day {
    width: 25%;
    color: $color-shadow;
  }

  .conditions {
    display: flex;
    align-items: center;
    width: 45%;
    font-size: 0.9rem;
    font-weight: 600;

    svg-icon {
      margin-right: 0.8rem;
    }
  }

  .temp {
    width: 30%;
    text-align: right;

    .night {
      color: $color-shadow;
    }
  }
}
