@import 'mixins';
@import 'media';
@import 'variables';

:host {
  display: flex;
  align-items: center;
  min-height: 6.4rem;

  @include svgSize(3.5rem, 'svg-icon');

  .day {
    width: 25%;
    color: $color-shadow;
    min-height: 1.2rem;
  }

  .conditions {
    display: flex;
    align-items: center;
    width: 45%;
    font-size: 0.9rem;
    font-weight: 600;
    min-height: 6.45rem;

    svg-icon, .label {
      margin-right: 0.8rem;
    }

    .label {
      min-height: 1.2rem;
      width: 100%;
    }
  }

  .numbers {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    .temp {
      font-size: 1.2rem;
      min-height: 1.3rem;
    }

    .other-temp {
      color: $color-shadow;
      margin: 0.2rem 0;
      min-height: 1.2rem;
    }
  }

  .no-data {
    display: none;
  }

  @include portrait() {
    .conditions {
      justify-content: center;

      svg-icon {
        margin: 0;
      }

      .label {
        display: none;
      }
    }
  }
}

@include loading() {
  .day {
    .day-span {
      width: 70%;
      color: transparent;
      min-height: 1.2rem;
      display: block;
      animation: $skeleton-animation;
    }
  }

  .conditions {
    display: flex;

    svg-icon, .label {
      animation: $skeleton-animation;
    }
  }

  .numbers {
    display: flex;

    .other-temp, .temp {
      animation: $skeleton-animation;
    }

    .other-temp {
      width: 60%;
    }

    .temp {
      width: 70%;
    }
  }

  .message {
    display: none;
  }
}
