@import 'variables';

:host {
  h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: $color-text;
    border-bottom: 1px solid $color-border;
    padding-bottom: 1rem;
  }

  p {
    margin: 1rem;
    font-size: 0.9rem;
    color: $color-shadow;
  }

  .button-wrapper {
    margin: 2rem 1rem 1rem;

    button {
      padding: 1rem;
      background-color: $color-background;
      border: none;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      width: 100%;
      color: $color-text;
      font-weight: 600;

      &:hover, &:focus {
        background-color: rgba($color-hover, .5);
        color: #fff;
      }
    }
  }
}
