<footer>
  <section class="author">
    <img src="/assets/img/face.jpg" alt="avatar" class="img">

    <div class="text">
      <p class="name">Kamil Chmielowski</p>

      <p>Full-stack developer</p>
    </div>
  </section>

  <section class="contact">
    <p>
      <svg-icon [src]="'footer/phone' | svg"></svg-icon>
      <span>48 459 413 344</span>
    </p>

    <p>
      <svg-icon [src]="'footer/email' | svg"></svg-icon>
      <span>kamilchmielowski94@gmail.com</span>
    </p>

    <p>
      <svg-icon [src]="'footer/website' | svg"></svg-icon>
      <a href="https://kamilchmielowski-dev.web.app/" class="default">Check my portfolio</a>
    </p>
  </section>
</footer>
