<footer>
  <section class="author">
    <img src="/assets/img/face.jpg" alt="avatar" class="img">

    <p class="name">Kamil Chmielowski</p>

    <p>Full-stack developer</p>
  </section>

  <section class="contact">
    <p>
      <svg-icon [src]="'footer/phone' | svg"></svg-icon>
      48 459 413 344
    </p>

    <p>
      <svg-icon [src]="'footer/email' | svg"></svg-icon>
      kamilchmielowski94@gmail.com
    </p>

    <p>
      <svg-icon [src]="'footer/website' | svg"></svg-icon>
      kamilchmielowski.website.com
    </p>
  </section>
</footer>
