<article>
  <section>
    <h2>Units</h2>

    <div class="card">
      <h3>Temperature</h3>

      <app-options-button
        [selectedIndex]="temperature | settingIndex : settingsService.settings.temperature"
        [options]="temperature"
        (key$)="settingsService.temperature = $event">
      </app-options-button>

      <h3>Wind speed</h3>

      <app-options-button
        [selectedIndex]="windSpeed | settingIndex : settingsService.settings.windSpeed"
        [options]="windSpeed"
        (key$)="settingsService.windSpeed = $event">
      </app-options-button>

      <h3>Pressure</h3>

      <app-options-button
        [selectedIndex]="pressure | settingIndex : settingsService.settings.pressure"
        [options]="pressure"
        (key$)="settingsService.pressure = $event">
      </app-options-button>

      <h3>Precitipation</h3>

      <app-options-button
        [selectedIndex]="precitipation | settingIndex : settingsService.settings.precitipation"
        [options]="precitipation"
        (key$)="settingsService.precitipation = $event">
      </app-options-button>

      <h3>Distance</h3>

      <app-options-button
        [selectedIndex]="distance | settingIndex : settingsService.settings.distance"
        [options]="distance"
        (key$)="settingsService.distance = $event">
      </app-options-button>
    </div>
  </section>

  <section>
    <h2>Notifications</h2>

    <div class="card notifications">
      <div>
        <p class="label">Desktop notifications</p>

        <p class="desc">Be aware of the weather</p>
      </div>

      <app-switch-button></app-switch-button>
    </div>
  </section>
</article>
