<section>
  <div class="header">
    <h2>Air conditions</h2>

    <button class="chip-btn" (click)="seeMore$.emit()">See more</button>
  </div>

  <div class="properties">
    <app-property-item icon="sunny" label="Wind" [value]="weather?.current?.wind_kph + ' km/h'"></app-property-item>
    <app-property-item icon="sunny" label="Pressure" [value]="weather?.current?.pressure_mb+' hPa'"></app-property-item>
    <app-property-item icon="sunny" label="Precipitation" [value]="weather?.current?.precip_mm + ' mm'"></app-property-item>
    <app-property-item icon="sunny" label="Cloud" [value]="weather?.current?.cloud + '%'"></app-property-item>
  </div>
</section>
