@import 'variables';

:host {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      background: $color-background;
      border: none;
      height: 100%;
      border-radius: 10rem;
      padding: 0.3rem 0.5rem;
      font-weight: 600;
      box-shadow: $box-shadow;
      margin-bottom: 0.5rem;
    }
  }

  .properties {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;

    app-property-item {
      width: 50%;
      margin-bottom: 1.2rem;
    }
  }
}
