<section>
  <div class="header">
    <h2>Air conditions</h2>

    <button class="btn">See more</button>
  </div>



  <div class="properties">
    <app-property-item icon="sunny" label="Real feel" value="30°"></app-property-item>
    <app-property-item icon="sunny" label="Wind" value="0.2km/h"></app-property-item>
    <app-property-item icon="sunny" label="Change of rain" value="0%"></app-property-item>
    <app-property-item icon="sunny" label="UV index" value="3"></app-property-item>
  </div>
</section>
