<section>
  <div class="header">
    <h2>Air conditions</h2>

    <button class="chip-btn" (click)="seeMore$.emit()">See more</button>
  </div>

  <div class="properties">
    <app-property-item icon="wind" label="Wind" [value]="weather | wind"></app-property-item>
    <app-property-item icon="pressure" label="Pressure" [value]="weather | pressure"></app-property-item>
    <app-property-item icon="rain" label="Precipitation" [value]="weather | precitipation"></app-property-item>
    <app-property-item icon="cloud" label="Cloud" [value]="weather?.current?.cloud + '%'"></app-property-item>
  </div>
</section>
