@import 'media';
@import 'variables';

:host {
  app-search-input {
    display: block;
    margin-bottom: 1rem;
  }

  app-forecast {
    margin-bottom: 1rem;
  }

  @include portrait-landscape() {
    app-air-conditions {
      margin-bottom: 1rem;
    }

    app-more-details {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
