<aside>
  <section class="card">
    <h2>Moon phase</h2>

    <svg-icon [src]="'moon/new-moon' | svg"></svg-icon>

    <svg-icon [src]="'moon/waxing-crescent' | svg"></svg-icon>

    <svg-icon [src]="'moon/first-quarter' | svg"></svg-icon>

    <svg-icon [src]="'moon/waxing-gibbous' | svg"></svg-icon>

    <svg-icon [src]="'moon/full-moon' | svg"></svg-icon>

    <svg-icon [src]="'moon/waning-gibbous' | svg"></svg-icon>

    <svg-icon [src]="'moon/last-quarter' | svg"></svg-icon>

    <svg-icon [src]="'moon/waning-crescent' | svg"></svg-icon>
  </section>
</aside>
