@import 'variables';

:host {
  .form {
    position: relative;

    input {
      background: $color-foreground;
      border: none;
      padding: 0.8rem 1rem;
      width: 100%;
      box-sizing: border-box;
      color: $color-text;
      font-size: 1rem;

      &::placeholder {
       color: $color-shadow;
      }

      &:focus {
        outline: 2px solid $color-hover;
      }
    }

    .suggestions {
      position: absolute;
      background-color: $color-foreground;
      top: 100%;
      width: 100%;
      display: flex;
      flex-flow: column;
      outline: 2px solid $color-hover;
      box-sizing: border-box;
      z-index: 2;

      button {
        padding: 1rem;
        text-align: left;
        font-size: 0.9rem;

        &:hover, &:focus {
          background-color: $color-button;
        }
      }
    }
  }
}
