@import 'mixins';
@import 'variables';

:host {
  .form {
    position: relative;
    @include svgSize(2rem, 'svg-icon');

    input {
      background: $color-foreground;
      border: none;
      padding: 0.8rem 1rem;
      width: 100%;
      box-sizing: border-box;
      color: $color-text;
      font-size: 1rem;
      height: 2.8rem;

      &::placeholder {
       color: $color-shadow;
      }

      &:focus {
        outline: 2px solid $color-hover;
      }
    }

    .suggestions {
      position: absolute;
      background-color: $color-background;
      top: 100%;
      width: 100%;
      display: flex;
      flex-flow: column;
      outline: 2px solid $color-hover;
      box-sizing: border-box;
      z-index: 2;

      button {
        padding: 1rem;
        text-align: left;
        font-size: 0.9rem;

        &:not(:last-of-type) {
          border-bottom: 1px solid $color-border;
        }

        &:hover, &:focus {
          background-color: $color-foreground;
        }
      }
    }

    .hint {
      position: absolute;
      bottom: 0.8rem;
      right: 1rem;
      font-size: 0.6rem;
      color: $color-shadow;
    }

    svg-icon {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
    }
  }
}
