<header>
  <section class="details">
    <h1>{{ stateService.location?.city || stateService.locations[0].city }}</h1>

    <p class="condition">{{ weather?.current?.condition?.text }}</p>

    <p class="date1">{{ weather?.location?.localtime | date: 'EEEE, d.M.y' }}</p>

    <p class="date2">{{ weather?.location?.localtime | date: 'h:mm:ss a zzzz' }}</p>

    <p class="temp">{{ weather?.current?.temp_c | temp: weather?.current?.temp_f }}</p>
  </section>

  <svg-icon [src]="weather?.current?.condition | weather"></svg-icon>
</header>
