<aside>
  <app-weather-header class="icon-8"></app-weather-header>

  <section class="card">
    <h2>Today's forecast</h2>

    <div class="hours">
      <app-hour-item [hour]="currentHour <= 15 ? currentHour + 3 : currentHour <= 18 ? currentHour + 2 : 20"
                     [condition]="weather?.forecast?.forecastday?.at(0)?.hour?.at(6)?.condition"
                     [temp]="weather?.forecast?.forecastday?.at(0)?.hour?.at(6)?.temp_c | temp: weather?.forecast?.forecastday?.at(0)?.hour?.at(6)?.temp_f">
      </app-hour-item>

      <app-hour-item [hour]="currentHour <= 15 ? currentHour + 6 : currentHour <= 18 ? currentHour + 4 : 22"
                     [condition]="weather?.forecast?.forecastday?.at(0)?.hour?.at(9)?.condition"
                     [temp]="weather?.forecast?.forecastday?.at(0)?.hour?.at(9)?.temp_c | temp: weather?.forecast?.forecastday?.at(0)?.hour?.at(9)?.temp_f">
      </app-hour-item>

      <app-hour-item [hour]="currentHour <= 15 ? currentHour + 9 : currentHour <= 18 ? currentHour + 6 : 24"
                     [condition]="weather?.forecast?.forecastday?.at(0)?.hour?.at(12)?.condition"
                     [temp]="weather?.forecast?.forecastday?.at(0)?.hour?.at(12)?.temp_c | temp: weather?.forecast?.forecastday?.at(0)?.hour?.at(12)?.temp_f">
      </app-hour-item>
    </div>
  </section>

  <section class="card">
    <h2>3-day forecast</h2>

    <app-day-item *ngFor="let day of ['Today', weather?.location?.localtime | day : 1, weather?.location?.localtime | day : 2]; let i = index"
                  [day]="day"
                  [conditions]="weather?.forecast?.forecastday?.at(i)?.day?.condition"
                  [temp]="weather?.forecast?.forecastday?.at(i)?.day?.avgtemp_c | temp : weather?.forecast?.forecastday?.at(i)?.day?.avgtemp_f"
                  [maxTemp]="weather?.forecast?.forecastday?.at(i)?.day?.maxtemp_c | temp : weather?.forecast?.forecastday?.at(i)?.day?.maxtemp_f"
                  [minTemp]="weather?.forecast?.forecastday?.at(i)?.day?.mintemp_c | temp : weather?.forecast?.forecastday?.at(i)?.day?.mintemp_f"
    ></app-day-item>
  </section>
</aside>
