@mixin svgSize($size, $selector) {
  #{$selector} {
    display: block;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;

    svg {
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
    }
  }
}

@mixin hover {
  &:hover, &:focus {
    @content;
  }
}
