@import 'variables';

.layout {
  &-page {
    display: flex;
    width: 100%;
    padding: 0 1rem;
  }

  &-main {
    display: block;
    width: 60%;
    margin-right: 1rem;
  }

  &-aside {
    display: block;
    width: 40%;
  }
}

.card {
  display: block;
  background-color: $color-foreground;
  border-radius: 2rem;
  padding: 1rem;

  h2 {
    margin: 1rem 1rem 1.5rem;
  }
}

.shadow {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-shadow;
}
