@import 'media';
@import 'variables';

.layout-page {
  display: flex;
  width: 100%;
  padding: 0 1rem;

  @include tablet-desktop() {
    padding-right: 0;
  }

  @include portrait-tablet() {
    flex-flow: column;
    box-sizing: border-box;
    padding: 0;
  }
}

.layout-main {
  display: block;
  width: calc(60% - 1rem);
  margin-right: 1rem;

  @include tablet() {
    margin-bottom: 1rem;
  }

  @include portrait-tablet() {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
  }
}

.layout-aside {
  display: block;
  width: 40%;
  box-sizing: border-box;

  @include portrait-tablet() {
    width: 100%;
  }

  aside {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
}

.card {
  display: block;
  background-color: $color-foreground;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: $box-shadow;

  h2, h3 {
    margin: 1rem 1rem 1.5rem;
  }
}

.shadow {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-shadow;
}

.chip-btn {
  background: $color-background;
  border: none;
  border-radius: 10rem;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
}
