@import 'mixins';
@import 'reusable';
@import 'variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $color-text;
  background-color: $color-background;
  font-family: "Verdana", serif;
}

button, a {
  cursor: pointer;
  color: $color-text;
  text-decoration: none;
  transition: color $transition-hover, background-color $transition-hover;
  background-color: transparent;
  border: none;

  &:hover, &:focus, &.active {
    color: $color-hover;
  }

  &.loading {
    cursor: default;
  }

  &:focus {
    outline: 2px solid $color-hover;
  }

  svg-icon {
    fill: $color-text;
    transition: $transition-hover;
  }

  &:hover, &:focus, &.active {
    svg-icon {
      fill: $color-hover;
    }
  }
}

h1, h2, p {
  margin: 0;
}

h2, h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $color-shadow;
}

@include svgSize(4rem, 'svg-icon');
