@import 'mixins';
@import 'reusable';
@import 'variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $color-text;
  background-color: $color-background;
  font-family: Arial, serif;
}

button, a {
  cursor: pointer;
  color: $color-text;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-hover;
  }
}

@include svgSize(4rem, 'svg-icon');
