$color-background: #0b131e;
$color-foreground: #202b3b;
$color-text: #ccc;
$color-shadow: #999;
$color-hover: #c78e38;
$color-border: #29364a;
$box-shadow: 0 3px 4px 0 #333;
$transition-hover: cubic-bezier(0.79, 0, 0.22, 1) 250ms;
