@import 'mixins';
@import 'variables';

:host {
  .city-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
    height: 6rem;
    @include svgSize(5rem, 'svg-icon');
    box-sizing: border-box;
    border: 2px solid transparent;
    outline: none;
    transition: background-color $transition-hover, border-color $transition-hover;

    &:hover, &:focus {
      background-color: inherit;
      border: 2px solid $color-hover;
      color: inherit;
    }
  }

  .container {
    margin-left: 1rem;
    display: flex;
    align-items: center;

    .text {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 100%;

      .city {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.2rem;
        text-align: left;
        min-height: 1.85rem;;
      }

      .date {
        display: flex;
        color: $color-shadow;
        font-size: 1rem;
        text-align: left;
        min-height: 1.15rem;
      }
    }
  }

  .temp {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    min-height: 2.25rem;
  }
}

:host-context(.current) {
  .city-item {
    background-color: inherit;
    border: 2px solid $color-hover;
  }
}

:host-context(.map) {
  .city-item {
    @include svgSize(4rem, 'svg-icon');
  }

  .container {
    .text {

      .city {
        font-size: 1.3rem;
      }
    }
  }

  .temp {
    font-size: 1.6rem;
    min-height: 1.85rem;
  }
}

@include loading() {
  .container {
    svg-icon, .city, .date {
      animation: $skeleton-animation-card;
    }

    .city {
      color: transparent;
    }
  }

  .temp {
    animation: $skeleton-animation-card;
    width: 20%;
  }
}
