@import 'mixins';
@import 'media';
@import 'variables';

:host {
  .name {
    display: flex;
    align-items: center;
    color: $color-shadow;
    margin-bottom: 0.4rem;

    @include svgSize(1.5rem, 'svg-icon');

    svg-icon {
      margin-right: 0.4rem;
    }
  }

  .value {
    margin-left: 1.9rem;
    font-size: 1.4rem;
    font-weight: 600;
    min-height: 1.7rem;
  }

  @include portrait() {
    .value {
      margin: 0;
      text-align: center;
    }
  }
}

:host-context(.astronomy-loading) {
  .value {
    animation: $skeleton-animation-card;
    width: 70%;
  }
}

