:host {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  .app {
    display: flex;
    min-width: 1080px;
    max-width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
  }
}
