@import 'media';

:host {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  .app {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
  }

  @include landscape() {
    .app {
      max-width: 90vw;
      padding: 3rem 1rem;
    }
  }

  @include portrait() {
    .app {
      max-width: 95vw;
      padding: 2rem 1rem;
    }
  }
}
