@import 'media';
@import 'variables';

:host {
  article {
    height: 100%;

    mgl-map {
      box-shadow: $box-shadow;
      border: 2px solid $color-border;
      height: 100%;
    }
  }

  @include portrait-tablet() {
    height: 50vh;
    margin-bottom: 2rem;
  }

  @include tablet() {
    height: 60vh;
    margin-bottom: 1rem;
  }
}
