@import 'media';
@import 'variables';

:host {
  section {
    display: flex;
    padding: 2rem 1rem;

    .column {
      width: 50%;
      display: flex;
      flex-flow: column;
      align-items: center;

      p {
        font-size: 1.3rem;
        display: flex;
        align-items: center;

        .text {
          color: $color-shadow;
          margin-right: 0.4rem;
          font-size: 1rem;
          min-width: 5rem;
          text-align: right;
        }

        .value {
          min-height: 1.55rem;
          min-width: 7rem;
        }
      }

      svg-icon {
        margin: 1.5rem 0;

        &.moonrise {
          svg {
            fill: #e5e58c;
          }
        }

        &.moonset {
          svg {
            fill: #d7a74d;
          }
        }
      }
    }
  }

  @include portrait() {
    section {
      flex-flow: column;
      padding: 1.5rem 2rem;

      .column {
        width: 100%;

        &:first-of-type {
          padding-bottom: 1.5rem;
          border-bottom: 2px solid $color-border;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

:host-context(.astronomy-loading) {
  section {
    .column {
      p {
        .text {
        }

        .value {
          animation: $skeleton-animation-card;
        }
      }
    }
  }
}
