<section class="card">
  <div class="column">
    <p>
      <span class="text">Sunrise: </span>07:29 AM
    </p>

    <svg-icon [src]="'astronomy/sunrise' | svg" class="moonrise"></svg-icon>

    <p>
      <span class="text">Moonrise: </span>No moonrise
    </p>
  </div>

  <div class="column">
    <p>
      <span class="text">Sunset: </span>03:43 PM
    </p>

    <svg-icon [src]="'astronomy/sunset' | svg" class="moonset"></svg-icon>

    <p>
      <span class="text">Moonset: </span>12:54 PM
    </p>
  </div>
</section>
