@import 'mixins';
@import 'variables';

:host {
  .form {
    input {
      &[disabled] {
        background-color: $color-background;
        color: $color-background;
        box-shadow: none;

        &::placeholder {
          color: $color-background;
        }
      }
    }
  }
}
