@import 'variables';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;

  article {
    display: flex;

    app-search-input {
      width: 50vw;
    }
  }
}
