@import 'media';
@import 'variables';

:host {
  article {
    display: flex;
    flex-flow: column;

    app-rise-set {
      margin-bottom: 1rem;
    }
  }

  @include portrait-landscape() {
    app-moon-info {
      margin-bottom: 1rem;
    }
  }
}
