<nav>
  <a class="page" routerLink="weather" routerLinkActive="active">
    <svg-icon src="assets/svg/nav/weather.svg"></svg-icon>Weather
  </a>

  <a class="page" routerLink="cities" routerLinkActive="active">
    <svg-icon src="assets/svg/nav/cities.svg"></svg-icon>Cities
  </a>

  <a class="page" routerLink="map" routerLinkActive="active">
    <svg-icon src="assets/svg/nav/map.svg"></svg-icon>Map
  </a>

  <a class="page" routerLink="settings" routerLinkActive="active">
    <svg-icon src="assets/svg/nav/settings.svg"></svg-icon>Settings
  </a>
</nav>
