<nav>
  <a class="page" routerLink="weather" routerLinkActive="active">
    <svg-icon [src]="'nav/weather' | svg"></svg-icon>Weather
  </a>

  <a class="page" routerLink="cities" routerLinkActive="active">
    <svg-icon [src]="'nav/cities' | svg"></svg-icon>Cities
  </a>

  <a class="page" routerLink="map" routerLinkActive="active">
    <svg-icon [src]="'nav/map' | svg"></svg-icon>Map
  </a>

  <a class="page" routerLink="settings" routerLinkActive="active">
    <svg-icon [src]="'nav/settings' | svg"></svg-icon>Settings
  </a>
</nav>
