@import 'mixins';
@import 'media';
@import 'variables';

:host {
  nav {
    display: flex;
    flex-flow: column;
    background-color: $color-foreground;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: $box-shadow;

    .page {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 1rem 0.4rem;
      margin: 0 0.4rem;

      @include svgSize(1.5rem, 'svg-icon');

      &.disabled {
        color: $color-shadow;
        cursor: default;

        svg-icon {
          svg {
            fill: $color-shadow;
          }
        }
      }

      svg-icon {
        margin-bottom: 0.4rem;
      }
    }
  }

  @include tablet() {
    nav {
      margin-right: 1rem;
    }
  }

  @include portrait-landscape() {
    nav {
      justify-content: center;
      padding: 0.5rem;
      flex-flow: row;
      overflow-x: scroll;
      margin-bottom: 2rem;
      border: 2px solid $color-border;
    }
  }
}
