@import 'mixins';
@import 'variables';

:host {
  article {
    @include svgSize(1.5rem, 'svg-icon.delete');

    app-city-search-input {
      display: block;
      margin-bottom: 2rem;
    }

    app-city-item {
      display: block;
      margin-bottom: 1rem;
    }

    .add-city {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 6rem;
      background-color: rgba($color-foreground, 0.5);
      transition: background-color $transition-slow;
      margin-bottom: 1rem;

      &:hover , &:focus {
        background-color: $color-foreground;
        color: $color-text;

        svg-icon {
          fill: $color-text;
        }
      }

      &[disabled] {
        cursor: default;
        background-color: #666;

        &:hover , &:focus {
          background-color: #666;
          color: $color-text;

          svg-icon {
            fill: $color-text;
          }
        }
      }

      svg-icon {
        margin-right: 1rem;
        background: rgba($color-background, 0.5);
        border-radius: 100%;
      }

      span {
        font-size: 1.2rem;
      }
    }

    .placeholder {
      height: 6rem;
      border: 2px dotted $color-shadow;
      box-sizing: border-box;
      margin-bottom: 1rem;
    }

    .delete-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: $color-foreground;
      border: none;
      border-radius: 2rem;
      color: $color-text;
      font-weight: 600;
      width: 50%;

      &:hover, &:focus {
        background-color: rgba($color-hover, .5);
        color: #fff;

        svg-icon {
          fill: #fff;
        }
      }

      svg-icon {
        margin-right: 0.5rem;
      }
    }
  }
}
