@import 'variables';

:host {
  section {
    padding: 1rem 2rem;

    .properties {
      display: flex;

      app-property-item-moon {
        margin-top: 2rem;
        display: block;
        margin-bottom: 1.2rem;

        &[label="Phase"] {
          width: 60%;
        }

        &[label="Illumination"] {
          width: 40%;
        }
      }
    }
  }
}
