@import 'variables';

:host {
  app-city-item {
    margin-bottom: 1rem;
  }

  .placeholder {
    height: 6rem;
    border: 2px dotted $color-shadow;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
}
